<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <th>Status</th>
        <th>Operator</th>
        <th>Price</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>From</th>
        <th>To</th>
    </thead>
    <tbody>
        <tr *ngFor="let journey of this.journeys | async" (click)="sendJourney(journey)">
            <td>{{ journey.status}}</td>
            <td>{{ journey.operator}}</td>
            <td>{{ journey.normalPrice}}</td>
            <td>{{ journey.journeyLegs[0].startDateTime | date: 'dd/MM/yyyy hh:mm'}}</td>
            <td>{{ journey.journeyLegs[0].endDateTime | date: 'dd/MM/yyyy hh:mm'}}</td>
            <td>{{ journey.journeyLegs[0].from}}</td>
            <td>{{ journey.journeyLegs[0].to}}</td>
        </tr>
    </tbody>
</table>