<div class="notifications-container">
    <div *ngFor="let notification of this.notifications | async" (click)="removeNotification(notification)" class="notification">
        <div class="d-flex flex-row justify-content-between">
            <div>{{notification.header}}</div>
            <fa-icon [icon]="faCross"></fa-icon>
        </div>
        <p>{{notification.message}}</p>
    </div>
</div>