@import '../../../variables';

.notifications-container {
    position: absolute;
    top: 50px;
    right: 5px;

    .notification {
        background: $primary;
        padding: 0rem 1rem;
        color: #fff;
        border-radius: 0.25rem;
        width: 200px;
    }

    .notification:hover {
        cursor: pointer;
    }

    .notification > div:first-of-type {
        font-weight: bold;
    }
}