<nav class="bg-primary-light">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">
                <h5>Websocket Demo</h5>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active-route">
                Home
            </a>
        </li>
    </ul>
</nav>