@import "../../../variables";

nav {
  a {
    text-decoration: none !important;
    color: $text-light;
  }

  a:hover {
    color: #fff;
  }

  p {
    text-align: center;
  }

  .active-route {
    opacity: 1;
    color: #fff;
    // font-weight: bold;
  }
}

fa-icon {
  width: 20px;
  text-align: center;
}

fa-icon:hover {
  cursor: pointer;
}

h5 {
  size: 1.5rem;
  color: #fff;
  // background: $gradient-primary;
  // background-clip: text;
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
}
